<div class="dialog_menu" ng-controller="DialogCtrl">
	<div class="dialog_menu_title">
		<h1>{{ title }}</h1>
		<h3>{{ title2 }}</h3>
		</div>
	<div class="dialog_content">
		<div class="button_container one"><a ng-href="{{donate}}"><button class="col_left_button"><div class="col_left"><h3>{{donation_pop}}</h3></div></button></a></div><div class="button_container two"><button class="col_right_button" ng-click="openPatitionReview()"><div class="col_right"><h3>{{petition_pop}}</h3></div></button></div>
	</div>
<!-- 	<div class="dialog_exit">
		<button class="my_dialog_button" ng-click="closeDialog()">No Thank You</button>
	</div> -->
</div>