<section class="main_sec" ng-controller="HomeController">
    <!-- <header id="mainNav" ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header> -->

    <div id="section_one" class="section_one">
        <div class="content_title_section">
            <div class="mission_section">
               <h1 class="heading1">{{name}}</h1>  
               <h3 class="heading2">{{name_con}}</h3>  
               <h1 class="heading3">{{name_con2}}</h1>           
            </div>
         </div>

        <div class="content_section">
            <div data-ng-controller="ContactFormController as cf" class="mail_form">
              <div class="form_header">
                <h3>{{mike_slogen}}</h3>
              </div>            
              <div class="form_main">
                <p>{{mike_sub}}</p>
                <form name="contactForm" data-ng-submit="cf.sendMail()" role="form">
                  <div class="form-group">
                    <input type="name" data-ng-model="cf.contact_name" class="form-control" id="name" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input type="email" data-ng-model="cf.contact_email" class="form-control" id="email" placeholder="Email Address">
                  </div>
                  <button type="submit" class="btn btn-default">Subscribe</button>
                </form>
              </div>
            </div>

            <div class="mission_photo" >
              <img class="headshot" ng-src="{{ mike_photo }}"></img>                        
            </div>

          </div>
        </div>

        <div id="section_two" class="section_two">
          <div id="meet_mike" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{about_sec}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div>     

          <div class="content_section_about"> 

            <div class="col_left">
              <div class="quote_container">
                <h1>{{quote_one}}</h1>
              </div>
              <div class="video_container">

                <div class="vid_header">
                  <h3>{{vid_header}}</h3>
                </div>

                <div class="vid_main">
                  <iframe src="//www.youtube.com/embed/lntnA8pNyb0?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0">
                  </iframe>
                </div>

                <div class="more_info">
                  <p>{{ exec_committee }}</p>
                  <p>{{ state_committeman }}</p>
                  <p>{{ cofounder }}</p>
                  <p>{{ fapa }}</p>
                  <p>{{ aapa }}</p>
                  <p>{{ mentors_club }}</p>
                  <p>{{ rwc }}</p>
                </div>

              </div>
            </div>

            <div class="outter_container">

              <div class="header mt_born">
                <h1>{{born_header}}</h1>
              </div>
              <div class="subtopic mt_born_tx">
                <p>{{born_topic}}</p>
              </div>

              <div class="header mt_service">
                <h1>{{service_header}}</h1>
              </div>            
              <div class="subtopic mt_service_tx">
                <p>{{service_topic_one}}</p>
                <p>{{service_topic_two}}</p>
              </div>

              <div class="header mt_graduate">
                <h1>University of Florida</h1>
              </div>
              <div class="subtopic mt_granduate_tx">
                <p>{{graduate_topic_one}}</p>
                <p>{{graduate_topic_two}}</p>
              </div>

              <div class="header mt_medical">
                <h1>{{medical_header}}</h1>
              </div>
              <div class="subtopic mt_medical_tx">
                <p>{{medical_topic}}</p>
              </div>

              <div class="header mt_republican">
                <h1>{{republican_header}}</h1>
              </div>
              <div class="subtopic mt_republican_tx">
                <p>{{republican_topic_one}}</p>
                <p>{{republican_topic_two}}</p>
              </div>

            </div>
          </div>

          <div class="photo_container" ng-controller="photoCtrl as vm">

            <ul class="slide-list">
               <li ng-repeat="s in vm.slides track by $index" ng-click="vm.showGallery($index)">
                   <img ng-src="{{ s.src }}" alt="slide number {{ $index }}" />
               </li>
            </ul>
            <div ng-photoswipe slides="vm.slides" open="vm.open" on-close="vm.closeGallery()" options="vm.opts"></div>

            <style>
                .slide-list {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                }
                .slide-list > li {
                    display: inline;
                }
                .slide-list > li:hover {
                    cursor: pointer;
                }
                .slide-list > li > img {
                    width: 25%;
                    height: auto;
                    margin-bottom: 4px;
                    border-radius: 10px;
                    -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
                    -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
                    box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
                }
            </style>

          </div>
        </div>

        <div id="section_three" class="section_three">
          <div id="mike_platform" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{platform_sec}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div> 

          <div class="platform_container">

            <div class="educaiton platform_header">
              <h1>{{ education }}</h1>
            </div>
            <div class="education platform_topic">
              <p>{{ education_text }}</p>
            </div>

            <div class="amendment platform_header">
              <h1>{{ amendment }}</h1>
            </div>
            <div class="amendment platform_topic">
              <p>{{ amendment_text }}</p>
            </div>

            <div class="healthcare platform_header">
              <h1>{{ healthcare }}</h1>
            </div>
            <div class="healthcare platform_topic">
              <p>{{ healthcare_text }}</p>
            </div>

            <div class="environment platform_header">
              <h1>{{ environment }}</h1>
            </div>
            <div class="environment platform_topic">
              <p>{{ environment_text }}</p>
            </div>

            <div class="business platform_header">
              <h1>{{ business }}</h1>
            </div>
            <div class="business platform_topic">
              <p>{{ business_text }}</p>
            </div>

          </div>
        </div>

        <div class="section_four">
          <div id="mike_social" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{mike_social}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div> 

          <div class="social_container">

            <div class="col_left">
              <div class="register_to_vote">
                <h1>Register to Vote</h1>
                <a href="http://www.votebrevard.com/Voter-Information/Register-to-Vote">
                  <p>For Brevard County Voters</p>
                </a>
                <a href="http://www.voteindianriver.com/VOTERS/Update-Your-Information">
                  <p class="bottom">For Indian River County Voters</p>
                </a>
              </div>

              <div class="twitter_acc">
                <!-- <a class="twitter-timeline" href="//twitter.com/j_lewisg" data-widget-id="699884518724005888">Tweets by @j_lewisg</a> -->
                <twitterwidget></twitterwidget>
                
              </div>
            </div>

            <div class="col_right">
              <div class="fb-page" data-href="https://www.facebook.com/MikeThomasForSenate/?fref=ts" data-tabs="timeline" data-width="500" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/MikeThomasForSenate/?fref=ts"><a href="https://www.facebook.com/MikeThomasForSenate/?fref=ts">Mike Thomas For Florida Senate</a></blockquote></div></div>
            </div>

          </div>
        </div>

        <div class="section_footer">
            <div class="footer_top">
              <div class="media_icons">
                <a class="media_link" href="https://www.facebook.com/MikeThomasForSenate/">
                  <img src="modules/core/client/img/icons/128-facebook.png"></img>
                </a>
                <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-twitter.png"></img>
                </a>
                <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-instagram.png"></img>
                </a>
                <a class="media_link" href="https://www.linkedin.com/in/mike-thomas-5105681b?authType=NAME_SEARCH&authToken=SUUm&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A70060764%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1455415061273%2Ctas%3Amike%20">
                  <img src="modules/core/client/img/icons/128-linkedin.png"></img>
                </a>
                <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-youtube-2.png"></img>
                </a>
              </div>
              <a href="mailto:mikeforflasenate@gmail.com?Subject=Hello%20Mike%20Thomas" target="_top">
                <h1>{{mike_email}}</h1>                
              </a>
              <p>Phone: {{mike_phone}}</p>
              <p>Fax: {{mike_fax}}</p>
              
            </div> 
            <div class="footer_bottom">
              <p>&#9734; {{mike_decree}} &#9734;</p>
            </div>
        </div>

        
        
</section>
