<section class="main_sec" ng-controller="HomeController" itemscope itemtype="http://schema.org/Person">

    <div id="section_one" class="section_one">
        <div class="content_title_section">
            <div class="mission_section">
               <h1 class="heading1" itemprop="givenName">{{name}}</h1>  
               <h3 class="heading2">{{name_con}}</h3>  
               <h1 class="heading3" itemprop="description">{{name_con2}}</h1>           
            </div>
         </div>

        <div class="content_section">
            <div data-ng-controller="ContactFormController as cf" class="mail_form">
              <div class="form_header">
                <h3>{{mike_slogen}}</h3>
              </div>            
              <div class="form_main">
                <p>{{mike_sub}}</p>
                <form name="contactForm" data-ng-submit="cf.sendMail()" role="form">
                  <div class="form-group">
                    <input type="name" data-ng-model="cf.contact_name" class="form-control" id="name" placeholder="Name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="email" data-ng-model="cf.contact_email" class="form-control" id="email" placeholder="Email Address" autocomplete="off">
                  </div>
                  <button type="submit" class="my_button">Subscribe</button>
                </form>
              </div>              
              <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EDGY24BBSNVHY"><img class="donation_button" src="{{donation_button}}"></a>
            </div>

            <div class="mission_photo" >
              <img class="headshot" itemprop="image" ng-src="{{ mike_photo }}"></img>                        
            </div>

          </div>
        </div>

        <div id="about_section" class="section_two">
          <div id="meet_mike" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{ mike_about }}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div>     

          <div class="content_section_about"> 

            <div class="col_left">
              <div class="quote_container">
                <h1>{{quote_one}}</h1>
              </div>
              <div class="video_container">

                <div class="vid_header">
                  <h3>{{vid_header}}</h3>
                </div>

                <div class="vid_main">
                  <iframe src="//www.youtube.com/embed/lntnA8pNyb0?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0">
                  </iframe>
                </div>

                <div class="more_info" >
                  <p ng-repeat="info in infos">{{ info.text }}</p>
                </div>

              </div>
            </div>

            <div class="col_right">
              <div class="outter_container" ng-repeat="timeline in timelines">
                <div class="header" ng-style="{'background-image':'url({{ timeline.image }})', 'background-size':'cover', 'background-position':'{{ timeline.position }}'}">
                  <h1>{{timeline.header}}</h1>
                </div>
                <div class="subtopic">
                  <p ng-repeat="topic in timeline.topics">{{topic.text}}</p>
                </div>
              </div>
            </div>
            
          </div>

            
          <div class="photo_container" ng-controller="photoCtrl">

            <div id="container" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" ng-repeat="slide in slides1">
                <a ng-href="{{slide.src}}" itemprop="contentUrl" data-size="{{slide.w}}x{{slide.h}}">
                    <img ng-src="{{slide.msrc}}" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">{{slide.caption}}</figcaption>                                                    
              </figure>
            </div>

            <photoswipewidget></photoswipewidget>            

          </div>

          <div class="fav_quotes">
            <h1>{{ mike_quotes }}</h1>
            <div class="quote" ng-repeat="quote in quotes" ng-class="{'last': $last}">
             <h3>{{ quote.text }}</h3>
             <p>{{ quote.author }}</p>
            </div>
          </div>

        </div>

          

        <div id="platform_section" class="section_three">
          <div id="mike_platform" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{ mike_platform }}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div> 

          <div class="platform_container" ng-repeat="platform in platforms">
            <div class="platform_header">
              <h1>{{ platform.header }}</h1>
            </div>
            <div class="platform_topic">
              <p>{{ platform.text }}</p>
            </div>
          </div>
        </div>

        <div id="endors_section" class=section_four>
          <div id="mike_endors" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{mike_endors}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div>

          <div class="endors_container">
            <div class="endors_left">
              <div class="endorsement" ng-repeat="endorsement in endorsements">
                <h1>{{ endorsement.person }}</h1>
                <p>{{ endorsement.text }}</p>
              </div>
            </div>
          </div>

          <div class="photo_container" ng-controller="photoCtrl">

            <div id="container" class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
              <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" ng-repeat="slide in slides2">
                <a ng-href="{{slide.src}}" itemprop="contentUrl" data-size="{{slide.w}}x{{slide.h}}">
                    <img ng-src="{{slide.msrc}}" itemprop="thumbnail" alt="Image description" />
                </a>
                <figcaption itemprop="caption description">{{slide.caption}}</figcaption>                                                    
              </figure>
            </div>

            <photoswipewidget></photoswipewidget>            

          </div>

          <!-- <div class="photo_container" ng-controller="photoCtrl">
            
            <div deckgrid class="deckgrid" source="slides2">
              <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                  <figure class="a-card" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" >
                    <a ng-href="{{card.src}}" itemprop="contentUrl" data-size="{{card.w}}x{{card.h}}">
                        <img ng-src="{{card.src}}" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description">{{card.caption}}</figcaption>                                                    
                  </figure>

              </div>
            </div>

            <freewallwidget></freewallwidget>

            <photoswipewidget></photoswipewidget>        

          </div> -->

        </div>

        <div id="volunteer_section" class="section_five">
          <div id="mike_volunteer" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{mike_volunteer}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div>

          <div class="volunteer_container" data-ng-controller="VolunteerFormController as vf">
            <h1>{{volunteer_header}}</h1>
            <div class="register_to_volunteer">              
                <form name="volunteerForm" data-ng-submit="vf.sendMail()" role="form">
                  <div class="form-group">
                    <input type="name" data-ng-model="vf.contact_name" class="form-control" id="name" placeholder="Name" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="email" data-ng-model="vf.contact_email" class="form-control" id="email" placeholder="Email Address" autocomplete="off">
                  </div>
                  <div class="form-group">
                    <input type="tel" data-ng-model="vf.contact_phone" class="form-control" id="phone" placeholder="Phone Number" autocomplete="off">
                  </div>
                  <button type="submit" class="my_button">Sign Up</button>
                </form>
            </div>
          </div>
        </div> 

        <div id="social_section" class="section_six">
          <div id="mike_social" class="title_sec">
            <div class="title_container">
              <h1 class="heading1"></h1>
              <h1 class="heading2">{{mike_social}}</h1>
              <h1 class="heading3"></h1>
            </div>
          </div> 

          <div class="social_container">

            <div class="col_left">
              <div class="district_map">
                <h1>Are you in the <a href="https://www.flsenate.gov/usercontent/session/redistricting/map_and_stats_11x17v5_2012-CA-2842.pdf">District</a>?</h1>
              </div>
              <div class="register_to_vote">
                <h1>Register to Vote</h1>
                <a href="http://www.votebrevard.com/Voter-Information/Register-to-Vote">
                  <p>For Brevard County Voters</p>
                </a>
                <a href="http://www.voteindianriver.com/VOTERS/Update-Your-Information">
                  <p class="bottom">For Indian River County Voters</p>
                </a>
              </div>

              <div class="twitter_acc">
                <!-- <twitterwidget></twitterwidget>                 -->
              </div>
            </div>

            <div class="col_right">
              <facebookwidget></facebookwidget>
            </div>

          </div>
        </div>

        <div class="section_footer">
            <div class="footer_top">
              <div class="media_icons">
                <a class="media_link" href="https://www.facebook.com/MikeThomasForSenate/">
                  <img src="modules/core/client/img/icons/128-facebook.png"></img>
                </a>
                <!-- <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-twitter.png"></img>
                </a> -->
                <!-- <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-instagram.png"></img>
                </a> -->
                <a class="media_link" href="https://www.linkedin.com/in/mike-thomas-5105681b?authType=NAME_SEARCH&authToken=SUUm&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A70060764%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1455415061273%2Ctas%3Amike%20">
                  <img src="modules/core/client/img/icons/128-linkedin.png"></img>
                </a>
                <!-- <a class="media_link" href="">
                  <img src="modules/core/client/img/icons/128-youtube-2.png"></img>
                </a> -->
              </div>
              <a href="mailto:mikeforflasenate@gmail.com?Subject=Hello%20Mike%20Thomas" target="_top">
                <h1 itemprop="email">{{mike_email}}</h1>                
              </a>
              <p>Phone: {{mike_phone}}</p>
              <p>Fax: {{mike_fax}}</p>
              <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=EDGY24BBSNVHY"><img class="donation_button2" src="{{donation_button}}"></a>
              
            </div> 
            <div class="footer_bottom">
              <p>&#9734; {{mike_decree}} &#9734;</p>
              <p>Built and designed by Jason Thomas</p>
            </div>
        </div>
        
</section>
