@-webkit-keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@keyframes ngdialog-flipin-horizontal {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    -ms-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}

@-webkit-keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}

@keyframes ngdialog-flipout-horizontal {
  0% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
}
.ngdialog {
  z-index: 20;
}
.ngdialog-overlay {
  height: 258%;
}

.ngdialog.picker_dialog {
  /*padding-bottom: 160px;*/
  /*padding-top: 160px;*/
  -webkit-perspective: 1300px;
  -ms-perspective: 1300px;
  perspective: 1300px;
  -webkit-perspective-origin: 50% 150px;
  -ms-perspective-origin: 50% 150px;
  perspective-origin: 50% 150px;
}

.ngdialog.picker_dialog.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-flipout-horizontal .5s;
  animation: ngdialog-flipout-horizontal .5s;
}

.ngdialog.picker_dialog .ngdialog-content {
  top: 80px;
  -webkit-animation: ngdialog-flipin-horizontal .5s;
  animation: ngdialog-flipin-horizontal .5s;
  background: transparent;
  border-radius: 5px;
  color: #444;
  font-family: 'Helvetica',sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  margin: 0 auto;
  max-width: 100%;
  padding: 1em;
  position: relative;
  width: 30%;
  min-width: 450px;
}

.ngdialog.picker_dialog .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.ngdialog.picker_dialog .ngdialog-close:before {
  content: '\00D7';
  font-weight: 400;
  height: 30px;
  position: absolute;
  right: 3px;
  text-align: center;
  width: 30px;

  transition: 0.5s all;
  background: #0000A5;
  border-radius: 30px;
  color: #FFF;
  font-size: 30px;
  top: 9px;
  line-height: 30px;

  -moz-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
  box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
}

.ngdialog.picker_dialog .ngdialog-close:hover:before,
.ngdialog.picker_dialog .ngdialog-close:active:before {
  color: #0000A5;
  background-color: white;

  -moz-box-shadow: 10px 8px 10px rgba(0,0,0,0.5), 0 0 20px #0000A5;
  -webkit-box-shadow: 10px 8px 10px rgba(0,0,0,0.5), 0 0 20px #0000A5;
  box-shadow: 10px 8px 10px rgba(0,0,0,0.5), 0 0 20px #0000A5;
}

.ngdialog.picker_dialog .ngdialog-message {
  margin-bottom: .5em;
}

.ngdialog.picker_dialog .ngdialog-input {
  margin-bottom: 1em;
}

.ngdialog.picker_dialog .ngdialog-input textarea,
.ngdialog.picker_dialog .ngdialog-input input[type="text"],
.ngdialog.picker_dialog .ngdialog-input input[type="password"],
.ngdialog.picker_dialog .ngdialog-input input[type="email"],
.ngdialog.picker_dialog .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}

.ngdialog.picker_dialog .ngdialog-input textarea:focus,
.ngdialog.picker_dialog .ngdialog-input input[type="text"]:focus,
.ngdialog.picker_dialog .ngdialog-input input[type="password"]:focus,
.ngdialog.picker_dialog .ngdialog-input input[type="email"]:focus,
.ngdialog.picker_dialog .ngdialog-input input[type="url"]:focus {
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}

.ngdialog.picker_dialog .ngdialog-buttons {
  *zoom: 1;
}

.ngdialog.picker_dialog .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}

.ngdialog.picker_dialog .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}

.ngdialog.picker_dialog .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}

.picker_dialog .my_dialog_button {
    transition: 0.5s all;
    color: white !important;
    outline-width: 0;
    padding: 6px;
    background-color: #0000A5 !important;
    border: 0;
    border-radius: 4px;
    -moz-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
}
.picker_dialog .my_dialog_button:hover {
    color: #0000A5 !important;
    background-color: white !important;
    -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
}

.picker_dialog .dialog_menu_title {
  border: 0 solid white;
  padding: 1%;
  width: 100%;
  margin: 1% auto;
  background-color: white;
  font-weight: bold;
  color: #C30F0F;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.55);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.55);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.55);
}
.picker_dialog .dialog_menu_title h1 {
  font: 400 60px/1.3 'Oleo Script', Helvetica, sans-serif;
  margin: 0.5% auto;
}

.picker_dialog .picker_content label {
  color: white;
}
.picker_dialog .picker_content input {

}

.picker_dialog .fileUpload {
     position: relative; 
    display: inline-block;
    overflow: hidden;
    margin-top: -0.6%;
    padding: 5px;
    width: 85px;
    margin-left: 5px;
}
.picker_dialog .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.picker_dialog .file-path {
    width: 50%;
    padding: 5px 12px;
    border: 0 solid;
    border-radius: 5px;
    background-color: #fff;
}

.picker_dialog .upload-button {
  min-width: 50px;
  transition: 0.5s all;
  padding: 5px;
  background-color: #0000A5;
  border-radius: 5px;
  border: 0 solid;
  color: white;    
  font: 400 22px/1.3 'Oleo Script', Helvetica, sans-serif;

  -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.45);
  box-shadow: 2px 2px 4px rgba(0,0,0,0.45);

}
.picker_dialog .upload-button:hover {
  background-color: white;
  color: #0000A5;

  -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.45);
  -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.45);
  box-shadow: 4px 4px 4px rgba(0,0,0,0.45);
}

.picker_dialog .picker_content {
    text-align: left;
    background-color: #C30F0F;
    padding: 0 25px 0 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
    margin: 5px 0;
}

.picker_dialog .caption_text {
  margin-bottom: 0;
} 
.picker_dialog .select_para {
  width: 70%
} 

.picker_dialog .progress {
  margin: 12px 0;
}

@media screen and (max-width: 775px) {
  .ngdialog.picker_dialog .ngdialog-content {
    top: 100px;
    width: 90%;
  }

}
@media screen and (max-width: 450px) {

}
