<div class="dialog_menu">
	<div class="dialog_menu_title">
		<h1>Delete Mission</h1>
	</div>
	<div class="picker_content">
		<form class="form-horizontal" data-ng-submit="remove(mission)" novalidate>
            <fieldset>
                <div class="form-group quesiton">
                    <p>Are you sure you want to delete this mission?</p>
                </div>
                <div class="form-group">
                    <input type="submit" value="Yes" class="delete-button">
                </div>
            </fieldset>
        </form>
	</div>
</div>