<section class="page_information" data-ng-controller="MissionsController" data-ng-init="findOne()">
	<missions elem="mission" bodytxt="body_str" positiontxt="position_str"></missions>
    <div class="page-header">
        <h1>Edit Mission</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="header">Header</label>
                    <div class="controls">
                        <input type="text" data-ng-model="mission.header" id="header" class="form-control" placeholder="Header" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="body">Body</label>
                    <div class="controls">
                        <textarea name="body" data-ng-model="body_str" id="body" class="form-control" cols="30" rows="10" placeholder="Body" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
