<section class="page_information" ng-controller="MissionsController" ng-init="find()">
    <div class="page-header">
        <h1>Missions</h1>
        <a href="/missions/create">Create a Mission</a>
    </div>
    <!-- this is the new search input field -->
    <div class="form-group">
        <input type="text" ng-model="search" typeahead="mission as mission.header for mission in missions | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="missionSearch($item)" placeholder="Search Missions...">
    </div>
    <!-- end -->
    <div class="list-group mission-list">
    	<div class="mission-list-group" ng-repeat="mission in missions | orderBy: 'order'">
    		<div class="my_button_group">
	        	<div class="my_button" ng-click="decOrder(mission)">&#9650;</div>
	        	<div class="my_button" ng-click="incOrder(mission)">&#9660;</div>
                <div class="my_button" ng-click="openPhotoPicker($index, mission)">+</div>
<!--                 <div class="my_button btn btn-default btn-file" ng-show="uploader.queue.length">
                    <div class="my_button" ng-click="uploadParagraphPicture($index, mission, 0, 466, 640, 'this is a test')"><p>Upload</p></div>
                    <div class="my_button" ng-click="cancelUpload()"><p>Cancel</p></div>
                </div> -->
	       	</div>
	        <div class="list-group-item"><!-- | limitTo: offset - missions.length | limitTo: pageSize -->
	            <!-- <h4 class="list-group-item-heading" data-ng-bind="mission.header"></h4>
	            <p ng-repeat="para in mission.body" ng-bind-html="para.paragraph"></p> -->
                <div class="platform_header" ng-click="goTo('/missions/' + mission._id)">
                    <h1>{{ mission.header }}</h1>
                    <button class="my_dialog_button" ng-click="solutionDialog('Mike\'s ' + mission.header + ' Position', mission.position)" ng-style="{ display : !mission.hidden ? 'inline' : 'none' }"> Mike's Position</button>
                </div>
                <div class="platform_topic">
                    <p ng-repeat="para in mission.body">
                    <span class="pic_container">
                        <img ng-repeat="pic in para.image" ng-src="{{pic.src}}" slides="para.image" ng-style="{ display : !para.hidden_img ? 'inline' : 'none' }" ng-class="{image_left : $parent.$even, image_right : $parent.$odd}">
                        <button class="my_remove_button" ng-click="deleteParagraphPicture($parent.$index, mission, $index)" ng-style="{ display : !para.hidden_img ? 'inline' : 'none' }" ng-class="{button_left : $even, button_right : $odd}">X</button>
                    </span>
                    <span class="paraSpan" style="padding-left:2em" ng-bind-html="para.paragraph"></span></p>
                </div>
	        </div>
        </div>
    </div>
    <!-- this is the paging control -->
    <pagination total-items="missions.length" ng-model="currentPage" ng-change="pageChanged()" max-size="pageSize" ng-show="missions.length > pageSize"></pagination>
    <!-- end -->
    <div class="alert alert-warning text-center" data-ng-hide="!missions.$resolved || missions.length">
        No mission yet, why don't you <a href="/#!/missions/create">create one</a>?
    </div>
</section>
