<section class="page_information" data-ng-controller="MissionsController" data-ng-init="findOne()">
  <div class="page-header">
		<h1 data-ng-bind="mission.header"></h1>
		<p ng-repeat="para in mission.body" ng-bind-html="para.paragraph"></p>
		<!-- <p ng-repeat="para in mission.position" ng-style="{ display : !mission.hidden ? 'inlne' : 'none' }"><span ng-bind-html="para.paragraph" style="white-space: pre-line;"></span></p> -->
  </div>
  <div class="pull-right page_view_bottom">
		<a class="btn btn-primary" href="/#!/missions/{{mission._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove(mission);">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
  </div>
</section>
