html,
body {
  height: 100%;
}

.content {
  background-color: #F9F9F9;
}
.container {
}
.undecorated-link:hover {
  text-decoration: none;
}

/*Deault without Changes*/

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*Heading and Text CSS*/
.header_spacing {
  height: 5vw;
}
.content_divider {
  height: 60px;
}

.content_title_section {
  background-color: transparent;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 25px;
  padding-bottom: 25px;
}

.content_section {
  background-color: transparent;
  height:500px;
  padding-left: 12vw;
  padding-right: 12vw;
}

.content_divider1 {
  height: 4vw;
}

.mission_section {
  text-align: center;
  border-radius: 5px;
  background-color: #E6E6E6;
  /*padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;*/

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;
}
.methods_section, .about_section {
  text-align: center;
  border-radius: 5px;
  background-color: #E6E6E6;
  /*padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;*/

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;
}


.mission_content {
  overflow: auto;
  border-radius: 5px;
  background-color: #E6E6E6;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;
}

.headshot {
  width: 100% !important;
  border-radius: 5px;

  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px#888;
  box-shadow: 0 0 10px #888;
}

.mission_photo {
  float:right;
  border-radius: 5px;
  background-color: #E6E6E6;

  padding: 1vw;
  width: 25vw;
  height: auto;
}

.donation_container {
  width: 46vw;
  height: auto;
  float:left;
  border-radius: 5px;
  background-color: #E6E6E6;
  padding: 1vw;

  -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;
}
.donation_container h2 {
  text-align: center;
  margin-top: 1vw !important;
  margin_bottom: 1vw !important; 

  font: 400 4vw/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}
.donation_container h3 {
  text-align: center;
  margin-top: 1vw !important;
  margin_bottom: 1vw !important; 

  font: 400 3vw/1.3 'Berkshire Swash', Helvetica, sans-serif;
  color: #2b2b2b;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}

.mission_section .heading1 {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin: 0px !important;
  background-color: #C30F0F;
  font: 400 6vw/0.8 'Great Vibes', Helvetica, sans-serif;
  color: white;  
  text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}
.mission_section .heading2 {
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: 0px !important;
  background-color: white;
  font: 400 3vw/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}
.mission_section .heading3 {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin: 0px !important;
  background-color: #0000A5;
  font: 400 5vw/0.8 'Great Vibes', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
}

.construction {
  background-color: red;
  margin-top: 5vh;
  text-align: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#construction {
  width: 70%;
}


/*responsive mobile*/
@media screen and (max-width: 775px) {

  /*Heading and Text CSS*/
  .header_spacing {
    height: 0vw;
  }
  .content_divider {
    height: 0px;
  }

  .content_title_section {
    background-color: transparent;
    padding-left: 0vw;
    padding-right: 0vw;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .content_divider1 {
    height: 0vw;
  }

  .mission_section {
    text-align: center;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    -moz-box-shadow: 0 0 0px #888;
    -webkit-box-shadow: 0 0 0px#888;
    box-shadow: 0 0 0px #888;
  }
  .methods_section, .about_section {
    text-align: center;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    -moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;
  }

  .content_section {
    background-color: transparent;
    height:auto;
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .mission_content {
    overflow: auto;
    border-radius: 5px;
    background-color: #E6E6E6;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;

    -moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;
  }

  .headshot {    
    display: block;
    margin: 0 auto;
    width: 200px !important;
    border-radius: 5px;

    -moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;
  }

  .mission_photo {
    float:none;

    border-radius: 0px;
    background-color: transparent;

    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    height: auto;
  }

  .donation_container {
    width: 100%;
    width: 100vw;
    height: auto;
    float:none;
    display: block;
    margin: 0 auto;

    border-radius: 0px;
    background-color: #C30F0F;
    padding: 0;

    -moz-box-shadow: 0 0 0px #888;
    -webkit-box-shadow: 0 0 0px#888;
    box-shadow: 0 0 0px #888;
  }
  .donation_container h2 {
    text-align: center;
    margin-top: 10px !important;
    margin_bottom: 10px !important;

    font: 400 35px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.15);

    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 {
    text-align: center;
    margin-top: 8px !important;
    margin_bottom: 8px !important;

    font: 400 25px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.15);

    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 a {
    color: #1200FF;
  }

  .mission_section .heading1 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0px !important;
    background-color: #C30F0F;
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;  
    text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
  }
  .mission_section .heading2 {
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0px !important;
    background-color: white;
    font: 400 35px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
  }
  .mission_section .heading3 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0px !important;
    background-color: #0000A5;
    font: 400 40px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.15);
  }
  
  .content_sec {
    background-color: white;
    margin-top: -20px;
    height: 100px;
  }

  .construction {

    background-color: red;
    margin-top: 5vh;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #construction {
    width: 70%;
  }
}

@media screen and (max-aspect-ratio: 4/3) and (min-height: 900px) {
   .content_sec {
    background-color: white;
    height: 400px;
  }
}

