
.donation_button {
    position: absolute;
    transition: 0.5s all;
    float: right;
    top: 8%;
    left: 14%;
    width: 15%;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.donation_button:hover {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -transform: rotate(0);
}
.donation_button2 {
  width: 16% !important;
}
.donation_button2:hover {  
  opacity: 1 !important;

  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -transform: rotate(15deg);
}

.photo_container {
  height: auto;
  padding: 3% 14% 0 14%;
  text-align: center;
}

.slide-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.slide-list > li {
  display: inline;
}
.slide-list > li:hover {
  cursor: pointer;
}
.slide-list > li > img {
  transition: 0.5s all;
  width: 200px;
  height: 250px;
  width: 13vw;
  height: 16vw;
  object-fit: cover;
  margin: 0 4px 8px 4px;
  border-radius: 10px;
  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.slide-list > li > img:hover {
  opacity: 0.9;
  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0);
  box-shadow: 6px 4px 10px rgba(0,0,0,0);
}
  
.section_footer{
  margin: 0 -12%;
}

html, body {
  background-color: #000479;
  overflow-x:hidden; 
}

.undecorated-link:hover {
  text-decoration: none;
}

/*Deault without Changes*/

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/*Heading and Text CSS*/
.header_spacing {
  height: 5vw;
}
.content_divider {
  height: 60px;
}

.content_title_section {
  background-color: transparent;
  padding: 7% 10% 3% 10%;
}

.content_section {
  text-align: center;
  background-color: transparent;
  height:auto;
  padding-left: 18%;
  padding-right: 18%;
}

.title_sec {
  background-color: transparent;
  padding: 3% 10% 3% 10%;
}
.title_container {
  width: 100%;
  height: auto;
  background-color: white;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);

  border-radius: 10px;
}
.title_container .heading1 {
  height: 10px;
  margin: 0 !important;
  background-color: #C30F0F;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.title_container .heading2 {
  text-align: center;
  margin-top: 1vw !important;
  margin_bottom: 1vw !important; 

  font: 400 4vw/1.3 'Oleo Script', Helvetica, sans-serif;
  font-weight: bold;
  color: #C30F0F;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.title_container .heading3 {
  height: 10px;
  margin: 0 !important;
  background-color: #0000A5;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.mail_form {
  text-align: left;
  width: 60%;
  height: auto;
  display: inline-block;
  border-radius: 10px;

  /*-moz-box-shadow: 0 0 20px #212121;
  -webkit-box-shadow: 0 0 20px#212121;
  box-shadow: 0 0 20px #212121;*/
}
.mail_form h3 {
  display: inline-block;
  text-align: left;
  margin-top: 1vw !important;

  margin: 0 !important;
  color: #0000A5 !important;
  padding: 10px;
  border-bottom-left-radius: 10px; 

  font: 400 4vw/1.3 'Oleo Script', Helvetica, sans-serif; 
  font-weight: bold;
  color: white;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
}
.mail_form p {
  text-align: left;
  margin-top: 0;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 2vw;
  color: white;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
}
.form_header {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 2%;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.form_main {
  background-color: #C30F0F; 
  padding: 10px 15px 15px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}

.form-control:focus {
  -moz-box-shadow: 0 0 15px #fff;
  -webkit-box-shadow: 0 0 15px #fff;
  box-shadow: 0 0 15px #fff;

  border: 0;
}
.my_button {
    transition: 0.5s all;
    color: white;
    padding: 6px;
    background-color: #0000A5;
    border: 0;
    border-radius: 4px;
    -moz-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    -webkit-box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    box-shadow: 2px 1px 4px rgba(0,0,0,0.45);
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
    outline:none;
}
.my_button:hover {
    color: #0000A5;
    background-color: white;
    -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 10px rgba(0,0,0,0.75);
}
.toast_box {
  margin: 0;  
  font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
}

.mission_section {
  text-align: center;
  border-radius: 15px;
  width: 100%;
  background-color: #E6E6E6;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.mission_section .heading1 {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin: 0 !important;
  background-color: #C30F0F;
  font: 400 6vw/0.8 'Great Vibes', Helvetica, sans-serif;
  color: white;  
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.mission_section .heading2 {
  padding-top: 1vw;
  padding-bottom: 1vw;
  margin: 0 !important;
  background-color: white;
  font: 400 3vw/0.8 'Great Vibes', Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.mission_section .heading3 {
  padding-top: 2vw;
  padding-bottom: 1vw;
  margin: 0 !important;
  background-color: #0000A5;
  font: 400 5vw/0.8 'Great Vibes', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.mission_content {
  overflow: auto;
  border-radius: 5px;
  background-color: #E6E6E6;
  /*padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 2vw;
  padding-bottom: 2vw;*/
  padding: 2vw 4vw 2vw 4vw;

 /* -moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;*/
}

.headshot {
  width: 100% !important;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  border-radius: 10px;
}

.mission_photo {
  display: inline-block;    
  margin: 0 0 0 3%;
  vertical-align: top;
  background-color: transparent;
  /*background-size: cover;
  background-position: center;*/

  /*padding: 1%;*/
  width: 35%;
  height: auto;
  border-radius: 10px;
}

.content_section_about {
  text-align: center;
  background-color: transparent;
  height:auto;
  padding-left: 14%;
  padding-right: 14%;
}
.col_left { 
  width: 48%;
  display:inline-block;
  vertical-align: top;
}
.quote_container {
  text-align: center;
  padding: 5px;
  background-color: #C30F0F;
  border-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.quote_container h1 {
  margin: 0;
  padding: 2% 0;
  color: white;
  font: 400 3vw/1.3 'Oleo Script', Helvetica, sans-serif;
  color: white;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.video_container {
  margin-top: 15px;
  text-align: center;

  /*-moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;*/
}
.video_container h3 {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font: 400 2vw/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #0000A5;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.video_container iframe {
  width: 100%;
  height: 410px;
  height: 15vw;
  max-height: 460px;
  border: 0;
}
.vid_header {
  padding: 5px;
  background-color: white;
  border-top-right-radius: 10px !important;  
  border-top-left-radius: 10px !important;

  margin-bottom: 1%;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.vid_main {  
  background-color: #C30F0F;
  margin-bottom: 3%;
  padding: 10px;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.more_info {
  background-color: #C30F0F;
  padding: 10px;
  border-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.more_info p {
  color: white;

  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 1vw;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.45);
}

.outter_container {  
  display:inline-block;
  margin-left: 2%;
  width: auto;
  height: auto;
  border-radius: 15px;

  /*-moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;*/
}
.outter_container h1 {
  margin: 0;
  padding: 0;
  color: white;
  font: 400 2vw/1.3 'Oleo Script', Helvetica, sans-serif;
  /*font-weight: bold;
  font-size: 2vw;*/
  text-shadow: 2px 1px 2px #000, 4px 3px 2px rgba(0,0,0,0.65);
}
.outter_container p {
  margin: 0;
  padding: 1% 0 1% 0;
  color: white;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 1vw;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.45);
}
.outter_container .header {
  padding: 3% 2%;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 1%;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.outter_container .subtopic {
  padding: 3% 2%;
  text-align: center;
  background-color: #C30F0F;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 3%;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.outter_container .mt_born {
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/plymouth_bg.jpg');
  background-size: cover; 
  background-position: 0 -30px;
  border-top-right-radius: 10px;  
  border-top-left-radius: 10px;
}
.outter_container .mt_church {
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/Laurentianum.jpg');
  background-size: cover; 
  background-position: 0 -40px;
  border-top-right-radius: 10px;  
  border-top-left-radius: 10px;
}
.outter_container .mt_service {
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/navy.jpg');
  background-size: cover; 
  background-position: 0 -100px;
}
.outter_container .mt_graduate {  
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/gator.jpg');
  background-size: cover; 
  background-position: 0 -40px;
}
.outter_container .mt_medical {
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/indian_river.jpg');
  background-size: cover; 
  background-position: center;
}
.outter_container .mt_republican {
  height: auto;
  background-image: url('/modules/core/client/img/backgrounds/republican_bg.jpg');
  background-size: cover; 
  background-position: center;
}

.fav_quotes {
  margin: 0 16% 0 16%;
}
.fav_quotes h1 {
  text-align: center;
  margin: 5% 0 1% 0;
  padding: 10px;
  background-color: white;
  color: #0000A5;


  font: 400 3vw/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.fav_quotes h3 {
  margin: 0 0 2% 0;

  font-family: 'Courgette', cursive; 
  font-size: 20px;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
}
.fav_quotes p {
  margin: 0;

  font-family: 'Noto Serif', serif;
  font-weight: bold;
  font-size: 15px;

  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
}
.fav_quotes .quote {
  margin: 0 0 1% 0;
  padding: 15px;
  text-align: left;
  background-color: #C30F0F;
  color: white;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.fav_quotes .last {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.methods_section, .about_section {
  text-align: center;
  background-color: #E6E6E6;
  /*padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;*/

  /*-moz-box-shadow: 0 0 20px #888;
  -webkit-box-shadow: 0 0 20px#888;
  box-shadow: 0 0 20px #888;*/
}

.platform_container {
  text-align: center;
  height:auto;
  margin-left: 14%;
  margin-right: 14%;
  border-radius: 10px;
}
.platform_container .platform_header {
  background-color: white;
  padding: 10px;
  margin-bottom: 1%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.platform_container .platform_header h1 {
  color: #0000A5;
  margin: 0;
  font: 400 3vw/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.platform_container .platform_topic {
  background-color: #C30F0F;
  padding: 10px;
  margin-bottom: 3%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.platform_container .platform_topic p {
  color: white;
  margin: 0;
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}

.section_four {
  height: auto;
}
.endors_container {
  margin: 0 14% 0 14%;
}
.endors_container .endors_left {
  width: 100%;
}
.endors_container .endorsement {
  text-align: center;
  margin: 0 0 3% 0;

  border-radius: 10px;
}
.endors_container .endorsement h1 {

  padding: 15px ;
  background-color: white;
  width: auto;
  color: #0000A5;
  margin: 0 0 1% 0;
  /*font-weight: bold;*/

  font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.endors_container .endorsement p {

  padding: 10px ;
  background-color: #C30F0F;
  text-align: center;
  color:white;
  margin: 0;
  font-family: 'Courgette', cursive; 
  font-size: 30px;
  text-shadow: 4px 2px 2px rgba(0,0,0,0.25);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}

.section_five {
  height:auto;
}
.volunteer_container {
  text-align: left;
  margin: 0 24% 3% 24%;
  height: auto;
}
.volunteer_container h1 {
  text-align: center;
  padding: 10px;
  background-color: white;
  margin-bottom: 1%;

  color: #0000A5;
  font: 400 3vw/1.3 'Oleo Script', Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; 

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.register_to_volunteer {
  padding: 10px;
  background-color: #C30F0F;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; 

  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}

.section_six {
  height:auto;
}
.social_container {
  text-align: center;
  margin: 0 14% 3% 14%;
  height: auto;
}

.social_container .col_left {
  display: inline-block;
  width: 48%;
}
.social_container .col_right {
  display: inline-block;
  margin-left: 2%;
  width: 48%;
}

.register_to_vote {
}
.register_to_vote h1 {
  margin: 0;
  color: #0000A5;
  padding: 10px;
  background-color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font: 400 3vw/1.3 'Oleo Script', Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.register_to_vote p {
  transition: 0.5s all;
  cursor: pointer;
  color:white;
  margin: 1% 0 0 0; 
  padding: 20px;
  background-color: #C30F0F;
  font: 400 2vw/1.3 'Oleo Script', Helvetica, sans-serif;
  /*font-weight: bold;*/
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.register_to_vote p:hover {
  opacity: 0.8;
}
.register_to_vote a:hover, .register_to_vote a:link {text-decoration:none;}

.register_to_vote .bottom {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}
.fb-page {
  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}
.twitter_acc {
  margin-top: 3%;
}
.twitter_acc iframe {  
  -moz-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  -webkit-box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
  box-shadow: 6px 4px 10px rgba(0,0,0,0.35);
}

.footer_top {
  height: 75%;
  padding: 20px;
  background-color: #0000A5;
  text-align: center;
}
.footer_top .media_icons {
  margin: 20px;
}
.footer_top img {
  transition: 0.5s all;
  padding: 10px;
  width: 100px;
}
.footer_top img:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
.footer_top a {color:white;}
.footer_top .media_link:hover, .footer_top .media_link:link {text-decoration: none;}
.footer_top h1 {
  margin: 25px 0;
  color: white;

  font: 400 2vw/1.3 'Oleo Script', Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}
.footer_top p {
  color:white;
  font-family: "Times New Roman", Times, sans-serif;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  font-weight: bold;
}

.footer_bottom {
    height: 25%;
    padding: 10px;
    background-color: #C30F0F;
    text-align: center;
}
.footer_bottom p {
  margin: 20px 0;
  color: white;

  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1vw;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
}

@media screen and (max-width: 1000px) {
  .content_title_section {
    padding: 10% 10% 3% 10%;
  }

  .section_footer {
    margin: 0 -20%;
  }
}


/*responsive mobile*/
@media screen and (max-width: 775px) {
  /*Heading and Text CSS*/
  .navbar-nav > li > a {
    font: 400 18px/1.3 'Oleo Script', Helvetica, sans-serif;
  }

  .header_spacing {
    height: 0;
  }
  .content_divider {
    height: 0;
  }

  .content_title_section {
    margin: 50px -10% 15px -10%;
    background-color: transparent;
    padding: 0;
  }

  .content_divider1 {
    height: 0;
  }

  .mission_section {
    text-align: center;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    /*-moz-box-shadow: 0 0 0 #888;
    -webkit-box-shadow: 0 0 0#888;
    box-shadow: 0 0 0 #888;*/
  }
  .methods_section, .about_section {
    text-align: center;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    /*-moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;*/
  }

  .content_section {
    position: relative;
    margin: 0 -10% 3% -10%;
    background-color: transparent;
    height:auto;
    padding-left: 0;
    padding-right: 0;
  }
  .mail_form {
    margin-top: 300px;
    width: 100%;
  }
  .mail_form h3 {
    font: 400 35px/1.3 'Oleo Script', Helvetica, sans-serif; 
  }
  .mail_form p {
    font-size: 20px;
  }
  .form_header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 10%;
  }
  .form_main {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2% 8% ;
  }

  .donation_button {
    top: 280px;
    right: 9%;
    left:auto;
    width: 100px;

    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .mission_content {
    overflow: auto;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;*/
    padding: 2vw 4vw 2vw 4vw;

    /*-moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;*/
  }

  .headshot {    
    display: block;
    margin: 0 auto;
    width: 200px !important;
    border-radius: 5px;

    /*-moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;*/
  }

  .mission_photo {
    position: absolute;
    float:left;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;

    border-radius: 0;
    background-color: transparent;

    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    height: auto;
  }

  .donation_container {
    width: 100%;
    width: 100vw;
    height: auto;
    float:none;
    display: block;
    margin: 0 auto;

    border-radius: 0;
    background-color: #C30F0F;
    padding: 0;

    /*-moz-box-shadow: 0 0 0 #888;
    -webkit-box-shadow: 0 0 0#888;
    box-shadow: 0 0 0 #888;*/
  }
  .donation_container h2 {
    text-align: center;
    margin-top: 10px !important;
    margin_bottom: 10px !important;

    font: 400 35px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 {
    text-align: center;
    margin-top: 8px !important;
    margin_bottom: 8px !important;

    font: 400 25px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 a {
    color: #1200FF;
  }

  .mission_section .heading1 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: #C30F0F;
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;  
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }
  .mission_section .heading2 {
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: white;
    font: 400 35px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }
  .mission_section .heading3 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: #0000A5;
    font: 400 40px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }  

  .content_sec {
    background-color: white;
    margin-top: -20px;
    height: 400px;
  }

  .title_sec {
    padding: 0;
    margin-bottom: 4%;
  }
  .title_sec .heading2 {
      font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  }

  .section_two {
    margin: -15% -10% 0 -10%;
    padding: 15% 0 0 0;
  }
  .content_section_about {
    padding: 0;
  }
  .col_left {
    width: 100%;
  }
  .quote_container {

  }
  .quote_container h1 {
    font: 400 28px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .video_container {
    margin-top: 18px;
  }
  .video_container .vid_header h3 {
    font: 400 24px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .vid_main {
    margin-bottom: 18px;
  }
  .video_container iframe {
    height: 200px;
    height: 56vw;
    width: 97%;
  }
  .more_info {
    padding: 10px 6%;
    margin-bottom: 18px;
  }
  .more_info p {
    font-size: 15px;
  }
  .outter_container {
    display: block;
    margin: 0;
  }
  .outter_container h1 {
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .outter_container p {
    font-size: 15px;
  }

  .fav_quotes {
    margin: 0;
  }
  .fav_quotes h1 {
    padding: 4% 8%;
    font: 400 26px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .fav_quotes h3 {
    padding: 2% 8%;
  }
  .fav_quotes p {
    padding: 2% 8%;
  }

  .slide-list > li > img {
    width: 120px;
    height: 160px;
    width: 35vw;
    height: 45vw;
  }

  .section_three {
    margin: -10% -10% 0 -10%;
    padding: 15% 0 0 0;
  }
  .platform_container {
    margin: 0;
  }
  .platform_container .platform_header h1 {
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .platform_container .platform_topic {
    padding: 10px 8%;
  }

  .section_four {  
    margin: -15% -10% 0 -10%;
    padding: 15% 0 0 0;
  }
  .endors_container {
    margin: 0;
  }
  .endors_container .endorsement h1 {
    padding: 15px 8%;
  }
  .endors_container .endorsement p {
    padding: 10px 8%;
    font-size: 25px;
  }

  .section_five {
    margin: -15% -10% 0 -10%;
    padding: 15% 0 0 0;
  }
  .volunteer_container {
    margin: 0 0 3% 0;
  }
  .volunteer_container h1 {
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .register_to_volunteer {
    padding: 10px 8%;
  }

  .section_six {
    margin: -15% -10% 0 -10%;
    padding: 15% 0 0 0;
  }
  .social_container {
    margin: 0;
  }
  .social_container .col_left {
    width: 100%;
  }
  .register_to_vote h1 {
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .register_to_vote p {
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .twitter_acc {  
    padding: 0 3%;
  }
  .social_container .col_right {
    margin: 0;
    width: 100%;
    padding: 0 4%;
  }

  .section_footer {
      margin: 4% -12% 0 -12%;
  }
  .footer_top img {
    padding: 2px;
    width: 60px;
  }
  .footer_top h1 {
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .footer_top p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
  }
  .donation_button2 {
    width: 150px !important;
  }

  .footer_bottom {
    padding: 10px 8%;
  }
  .footer_bottom p {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
   /*Heading and Text CSS*/
  .header_spacing {
    height: 0;
  }
  .content_divider {
    height: 0;
  }

  .content_title_section {
    margin: 50px -10% 15px -10%;
    background-color: transparent;
    padding: 0;
  }

  .content_divider1 {
    height: 0;
  }

  .mission_section {
    text-align: center;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    /*-moz-box-shadow: 0 0 0 #888;
    -webkit-box-shadow: 0 0 0#888;
    box-shadow: 0 0 0 #888;*/
  }
  .methods_section, .about_section {
    text-align: center;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;*/

    /*-moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;*/
  }

  .content_section {
    position: relative;
    margin: 0 -10% 3% -10%;
    background-color: transparent;
    height:auto;
    padding-left: 0;
    padding-right: 0;
  }
  .mail_form {
    margin-top: 300px;
    width: 100%;
  }
  .mail_form h3 {
    font: 400 35px/1.3 'Oleo Script', Helvetica, sans-serif; 
  }
  .mail_form p {
    font-size: 20px;
  }
  .form_header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 5%;
  }
  .form_main {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 2% 8% ;
  }

  .donation_button {
    top: 280px;
    right: 5%;
    left:auto;
    width: 100px;

    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  .mission_content {
    overflow: auto;
    border-radius: 5px;
    background-color: #E6E6E6;
    /*padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;*/
    padding: 2vw 4vw 2vw 4vw;

    /*-moz-box-shadow: 0 0 20px #888;
    -webkit-box-shadow: 0 0 20px#888;
    box-shadow: 0 0 20px #888;*/
  }

  .headshot {    
    display: block;
    margin: 0 auto;
    width: 200px !important;
    border-radius: 5px;

    /*-moz-box-shadow: 0 0 10px #888;
    -webkit-box-shadow: 0 0 10px#888;
    box-shadow: 0 0 10px #888;*/
  }

  .mission_photo {
    position: absolute;
    float:left;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;

    border-radius: 0;
    background-color: transparent;

    padding-top: 4%;
    padding-bottom: 4%;
    width: 100%;
    height: auto;
  }

  .donation_container {
    width: 100%;
    width: 100vw;
    height: auto;
    float:none;
    display: block;
    margin: 0 auto;

    border-radius: 0;
    background-color: #C30F0F;
    padding: 0;

    /*-moz-box-shadow: 0 0 0 #888;
    -webkit-box-shadow: 0 0 0#888;
    box-shadow: 0 0 0 #888;*/
  }
  .donation_container h2 {
    text-align: center;
    margin-top: 10px !important;
    margin_bottom: 10px !important;

    font: 400 35px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 {
    text-align: center;
    margin-top: 8px !important;
    margin_bottom: 8px !important;

    font: 400 25px/1.3 'Berkshire Swash', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);

    background-color: white;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .donation_container h3 a {
    color: #1200FF;
  }

  .mission_section .heading1 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: #C30F0F;
    font: 400 50px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;  
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }
  .mission_section .heading2 {
    padding-top: 10px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: white;
    font: 400 35px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }
  .mission_section .heading3 {
    padding-top: 20px;
    padding-bottom: 10px;

    margin: 0 !important;
    background-color: #0000A5;
    font: 400 40px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: white;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.25);
  }  

  .content_sec {
    background-color: white;
    margin-top: -20px;
    height: 400px;
  }

  .title_sec {
    padding: 0;
    margin-bottom: 4%;
  }
  .title_sec .heading2 {
    padding: 0 6%;
    font: 400 40px/1.3 'Oleo Script', Helvetica, sans-serif;
  }

  .section_two {
    margin:  0 -10% 0 -10%;
    padding: 17% 0 0 0;
  }
  .content_section_about {
    padding: 0;
  }
  .col_left {
    width: 100%;
  }
  .quote_container {

  }
  .quote_container h1 {
    font: 400 28px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .video_container {
    margin-top: 18px;
  }
  .video_container .vid_header h3 {
    font: 400 24px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .vid_main {
    margin-bottom: 18px;
  }
  .video_container iframe {
    height: 200px;
    height: 56vw;
    width: 97%;
  }
  .more_info {
    padding: 10px 6%;
    margin-bottom: 18px;
  }
  .more_info p {
    font-size: 15px;
  }
  .outter_container {
    display: block;
    margin: 0;
  }
  .outter_container h1 {
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .outter_container p {
    font-size: 15px;
  }

  .fav_quotes h3 {
    padding: 2% 5%;
  }
  .fav_quotes p {
    padding: 2% 5%;
  }

  .slide-list > li > img {
    width: 120px;
    height: 160px;
    width: 35vw;
    height: 45vw;
  }

  .section_three {
    margin: 0 -10% 0 -10%;
    padding: 17% 0 0 0;
  }
  .platform_container {
    margin: 0;
  }
  .platform_container .platform_header h1 {
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .platform_container .platform_topic {
    padding: 10px 8%;
  }

  .section_four {  
    margin: 0 -10% 0 -10%;
    padding: 17% 0 0 0;
  }
  .endors_container {
    margin: 0;
  }
  .endors_container .endorsement h1 {
    padding: 15px 25px;
  }
  .endors_container .endorsement p {
    padding: 10px 35px;
    font-size: 25px;
  }

  .section_five {
    margin: 0 -10% 0 -10%;
    padding: 17% 0 0 0;
  }

  .section_six {
    margin: 0 -10% 0 -10%;
    padding: 17% 0 0 0;
  }
  .social_container {
    margin: 0;
  }
  .social_container .col_left {
    width: 100%;
  }
  .register_to_vote h1 {
    font: 400 30px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .register_to_vote p {
    font: 400 20px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .twitter_acc {  
    padding: 0 3%;
  }
  .social_container .col_right {
    margin: 0;
    width: 100%;
    padding: 0 4%;
  }

  .footer_top img {
    padding: 2px;
    width: 16%;
  }
  .footer_top h1 {
    font: 400 25px/1.3 'Oleo Script', Helvetica, sans-serif;
  }
  .footer_top p {
    font-family: 'Noto Serif', serif;
    font-size: 15px;
  }
  .donation_button2 {
    width: 150px !important;
  }

  .footer_bottom {
    padding: 10px 8%;
  }
  .footer_bottom p {
    font-size: 10px;
  }
}

